*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    width: 100%;
    border-bottom: 0.1vh solid #000;
    min-height: 15vh;
    display: grid;
    place-items: center;
    font-size: 19px;
    grid-template-columns: auto auto auto;

   
}

#logo-gta{
    justify-self: start;
    bottom: 10px;
    width: 200px;    
}

h1 h2{
    width: 120vh;
    padding: 10px;
}

.conteudo p {
    color: #000;
}

#menu{
    padding: 10px;
    place-self:  end;
}

#menu a{
    text-decoration: none;
    color: rgb(0, 17, 255);
    text-transform: uppercase;
    padding: 0 10px;
}

#menu a:hover {
    color: rgb(9, 255, 0);
}

section {
    display: grid;
    place-items: center;
    background: darkgray;
    padding: 10px 0;
    gap: 10px;
    min-height: 70vh;
    grid-template-columns: auto auto auto;
}

#super-gt{
    width: 300px;
    place-items: right;
}

#turismo{
    width: 300px;
    place-items: center;
}

#hotknife{
    width: 300px;
    place-items: left;
}

#infernus{
    width: 300px;
    place-items: right;
}

#hortring{
    width: 300px;
}

#euros{
    width: 300px;
}

#bufallo{
    width: 300px;
}

#banger{
    width: 300px;
}

#bullet{
    width: 300px;
}

#m1{
    width: 200px;
}

#m2{
    width: 200px;
}

#m3{
    width: 200px;
}

#m4{
    width: 200px;
}

#m5{
    width: 200px;
}

#m6{
    width: 200px;
}

#m7{
    width: 200px;
}

#m8{
    width: 200px;
}

#m9{
    width: 200px;
}

.conteudo{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.conteudo img {
    width: 400px;
    place-items: center;
}

.conteudo div {
    height: 225px;
    overflow: hidden;
    width: 300px;
}

#super-gt {
    justify-items: left;
}

footer {
    display: grid;
    justify-items: center;
    min-height: 5vh;
}
